NodeRED Flows/flows.json
[{"id":"b8e8a23a.d7e0c","type":"tab","label":"HomePage","disabled":false,"info":""},{"id":"1f559440.f6514c","type":"http in","z":"b8e8a23a.d7e0c","name":"Home Page","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":99,"y":607.0000057220459,"wires":[["632b65b.ed25a9c"]]},{"id":"341e9b84.9e4f24","type":"http response","z":"b8e8a23a.d7e0c","name":"Output","statusCode":"","headers":{},"x":875.6001091003418,"y":602.0000066757202,"wires":[]},{"id":"632b65b.ed25a9c","type":"template","z":"b8e8a23a.d7e0c","name":"Predicted Power","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n   \n  <title>\n\n  </title>\n  \n  <style type=\"text/css\">\n    body {\n      background-image: url(\"https://lh3.googleusercontent.com/d/1ctnii6yAXjFfmm05Dpjd3vJ2dRydd-b9\");\n    }\n    footer {\n      position: fixed;\n      left: 0;\n      bottom: 0;\n      width: 100%;\n      background-color: rgb(155, 229, 178);\n      color: white;\n      text-align: center;\n    }\n  </style>\n   <body>\n  <h4><i>This hours power: {{payload}}</i> </h4>\n    <footer>\n      <p>Created With Love By Pwind<br /></p>\n    </footer>\n  </body>\n</html>\n","output":"str","x":456.00000762939453,"y":606.0000057220459,"wires":[["341e9b84.9e4f24","f76f972d.a101f8","1572d54.3c27c2b"]]},{"id":"8f748b7b.220ad8","type":"function","z":"b8e8a23a.d7e0c","name":"PreToken","func":"global.set(\"spd\",msg.payload.wind.speed)\nglobal.set(\"dir\",msg.payload.wind.deg)\nvar apikey=\"BlmmKMg1qcP0r5Bo6rBaq5PvBiUjmrISwOVMxXNmJpuL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":473.0000534057617,"y":338.00000381469727,"wires":[["381a5363.803b2c"]]},{"id":"381a5363.803b2c","type":"http request","z":"b8e8a23a.d7e0c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":629.0000076293945,"y":175.00000190734863,"wires":[["8ba860e1.9acd2"]]},{"id":"c32174e8.dccd18","type":"debug","z":"b8e8a23a.d7e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1251.000015258789,"y":66.0000057220459,"wires":[]},{"id":"8ba860e1.9acd2","type":"function","z":"b8e8a23a.d7e0c","name":"Pre Prediction","func":"var spd = global.get('spd')\nvar dir = global.get('dir')\nvar token=msg.payload.access_token\nvar instance_id=\"4dbd1d90-7016-4e23-9457-1136b504eb20\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"WindSpeed\", \"WindDirection\"], \"values\": [[spd,dir]]}\nreturn msg;","outputs":1,"noerr":0,"x":689.0000076293945,"y":96.00001335144043,"wires":[["4fd2aa0f.676214"]]},{"id":"4fd2aa0f.676214","type":"http request","z":"b8e8a23a.d7e0c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4dbd1d90-7016-4e23-9457-1136b504eb20/deployments/cfb63054-86f3-43a1-a7c9-8b54c595c71e/online","tls":"","persist":false,"proxy":"","authType":"","x":894.5000152587891,"y":173.00000762939453,"wires":[["6d5298a6.fb2f38","7d2c5ac5.e2f864"]]},{"id":"71b46d6c.2bd6e4","type":"ui_text","z":"b8e8a23a.d7e0c","d":true,"group":"d131d5df.f5e068","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.values[0][0]}}","layout":"row-left","x":967.6000595092773,"y":20,"wires":[]},{"id":"6d5298a6.fb2f38","type":"function","z":"b8e8a23a.d7e0c","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":966.600212097168,"y":64.60000133514404,"wires":[["71b46d6c.2bd6e4","c32174e8.dccd18"]]},{"id":"5c960481.85683c","type":"http request","z":"b8e8a23a.d7e0c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=london&appid=10a3f0449cc6a0d812a10f8c8cbffe2a","tls":"","persist":true,"proxy":"","authType":"","x":321.0000534057617,"y":427.0000047683716,"wires":[["e8f3d07a.82eec"]]},{"id":"89504f71.a046f","type":"debug","z":"b8e8a23a.d7e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.wind","targetType":"msg","x":446.0000534057617,"y":85.00000762939453,"wires":[]},{"id":"e8f3d07a.82eec","type":"json","z":"b8e8a23a.d7e0c","name":"String => JSON","property":"payload","action":"","pretty":true,"x":287.0000534057617,"y":176.00000190734863,"wires":[["8f748b7b.220ad8","89504f71.a046f"]]},{"id":"f76f972d.a101f8","type":"debug","z":"b8e8a23a.d7e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":891.6000480651855,"y":493.0000071525574,"wires":[]},{"id":"7d2c5ac5.e2f864","type":"function","z":"b8e8a23a.d7e0c","name":"","func":"msg1 = {}\nmsg1[\"payload\"] = msg.payload.values[0][0];\n// global.set(\"power\",msg.payload.values[0][0]);\nreturn msg1;","outputs":1,"noerr":0,"x":945.6000137329102,"y":282.00000381469727,"wires":[["632b65b.ed25a9c","d5e59cbf.76433"]]},{"id":"d5e59cbf.76433","type":"debug","z":"b8e8a23a.d7e0c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1251.600212097168,"y":279.00000762939453,"wires":[]},{"id":"1572d54.3c27c2b","type":"ui_template","z":"b8e8a23a.d7e0c","group":"d131d5df.f5e068","name":"","order":1,"width":6,"height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":882.6000595092773,"y":543.4000072479248,"wires":[[]]},{"id":"fac0785c.ea8758","type":"ui_template","z":"b8e8a23a.d7e0c","group":"d5fd1b78.72b368","name":"","order":1,"width":20,"height":"11","format":"<html>\n  <title>\n    Pwind\n  </title>\n  \n  <style type=\"text/css\">\n    /*html {*/\n    /*  scroll-behavior: smooth;*/\n    /*}*/\n    body {\n      margin: 0 auto;\n    }\n/*https://images.unsplash.com/photo-1515344905723-babc01aac23d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80*/\n    .backgrounda {\n      height: 600px;\n      background: url(\"https://lh3.googleusercontent.com/d/1GGDMtg4sklFG7PrxmhMdF_zCPoYT5wFO\")\n        no-repeat center fixed;\n      -webkit-background-size: cover;\n      -moz-background-size: cover;\n      -o-background-size: cover;\n      background-size: cover;\n      background-color: #0b0f0e;\n      background-attachment: fixed;\n      position: relative;\n      overflow: hidden;\n    }\n    \n    h2 {\n      position: absolute;\n      left: 6%;\n      margin-top: 110px;\n      font-family: \"Alegreya Sans SC\", sans-serif;\n      font-weight: 300;\n      color: rgba(0, 0, 0, 0.788);\n      background-color: rgba(255, 255, 255, 0.616);\n    }\n    h1 {\n      position: absolute;\n      left: 4%;\n      margin-top: 120px;\n      font-family: \"Alegreya Sans SC\", sans-serif;\n      font-weight: 300;\n      color: white;\n    }\n    h3 {\n      position: absolute;\n      left: 8%;\n      top:20%;\n      font-family: \"Alegreya Sans SC\", sans-serif;\n      font-weight: 300;\n      color: black;\n      background-color: rgba(255, 255, 255, 0.158);\n    }\n    /*.form {*/\n    /*  position: absolute;*/\n    /*  top: 40%;*/\n    /*  left: 10%;*/\n    /*  color: rgb(20, 19, 19);*/\n    /*}*/\n    .p {\n      font-size: 200px;\n    }\n    #section04 a {\n      padding-top: 60px;\n    }\n    /*#section04 a span {*/\n    /*  position: absolute;*/\n    /*  top: 0;*/\n    /*  left: 50%;*/\n    /*  width: 24px;*/\n    /*  height: 24px;*/\n    /*  margin-left: -12px;*/\n    /*  border-left: 1px solid #fff;*/\n    /*  border-bottom: 1px solid #fff;*/\n    /*  -webkit-transform: rotate(-45deg);*/\n    /*  transform: rotate(-45deg);*/\n    /*  -webkit-animation: sdb04 2s infinite;*/\n    /*  animation: sdb04 2s infinite;*/\n    /*  box-sizing: border-box;*/\n    /*}*/\n    /*@-webkit-keyframes sdb04 {*/\n    /*  0% {*/\n    /*    -webkit-transform: rotate(-45deg) translate(0, 0);*/\n    /*  }*/\n    /*  20% {*/\n    /*    -webkit-transform: rotate(-45deg) translate(-10px, 10px);*/\n    /*  }*/\n    /*  40% {*/\n    /*    -webkit-transform: rotate(-45deg) translate(0, 0);*/\n    /*  }*/\n    /*}*/\n    /*@keyframes sdb04 {*/\n    /*  0% {*/\n    /*    transform: rotate(-45deg) translate(0, 0);*/\n    /*  }*/\n    /*  20% {*/\n    /*    transform: rotate(-45deg) translate(-10px, 10px);*/\n    /*  }*/\n    /*  40% {*/\n    /*    transform: rotate(-45deg) translate(0, 0);*/\n    /*  }*/\n    /*}*/\n    /*section {*/\n    /*  position: relative;*/\n    /*  width: 100%;*/\n    /*  height: 100%;*/\n    /*}*/\n    /*section::after {*/\n    /*  position: absolute;*/\n    /*  bottom: 0;*/\n    /*  left: 0;*/\n    /*  content: \"\";*/\n    /*  width: 100%;*/\n    /*  height: 80%;*/\n    /*  background: -webkit-linear-gradient(*/\n    /*    top,*/\n    /*    rgba(0, 0, 0, 0) 0,*/\n    /*    rgba(0, 0, 0, 0.1) 80%,*/\n    /*    rgba(0, 0, 0, 0.1) 100%*/\n    /*  );*/\n    /*  background: linear-gradient(*/\n    /*    to bottom,*/\n    /*    rgba(0, 0, 0, 0) 0,*/\n    /*    rgba(0, 0, 0, 0.1) 80%,*/\n    /*    rgba(0, 0, 0, 0.1) 100%*/\n    /*  );*/\n    /*}*/\n    /*section h1 {*/\n    /*  position: absolute;*/\n    /*  top: 50%;*/\n    /*  left: 50%;*/\n    /*  z-index: 2;*/\n    /*  -webkit-transform: translate(-50%, -50%);*/\n    /*  transform: translate(-50%, -50%);*/\n    /*  color: #fff;*/\n    /*  font: normal 300 64px/1 \"Josefin Sans\", sans-serif;*/\n    /*  text-align: center;*/\n    /*  white-space: nowrap;*/\n    /*}*/\n    /*.scroll {*/\n    /*  margin-top: 600px;*/\n    /*}*/\n    \n  </style>\n\n  <div class=\"backgrounda\">\n    <h4><center>WELCOME TO WIND POWER PREDICTION TOOL - Pwind</center></h4>\n    <h3>\n      <i>Wind energy plays an increasing role in the supply of energy\n        world-wide. <br />\n        <br />The energy output of a wind farm is highly dependent on the wind\n        conditions present at its site.<br />\n        <br />If the output can be predicted more accurately, energy suppliers\n        can coordinate the collaborative <br />production of different energy\n        sources more efficiently to avoid costly overproduction. <br /><br />\n        Pwind is a web application that shows the estimated wind energy that\n        could be generated from <br />\n        the parameters like wind speed,wind direction and time of the day. The\n        time series in the web <br />app will monitor the estimated power\n        generation for a time wind speed, wind direction.\n      </i>\n    </h3>\n    <section class=\"scroll\" id=\"section04\">\n      <!--<a href=\"#scrolldown\"><span></span></a>-->\n    </section>\n  </div>\n  \n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":93,"y":651.0000076293945,"wires":[[]]},{"id":"142a85e0.672fba","type":"ui_button","z":"b8e8a23a.d7e0c","name":"","group":"d5fd1b78.72b368","order":4,"width":"20","height":1,"passthru":true,"label":"This Hours Prediction","tooltip":"","color":"#FFFFFF","bgcolor":"#da1b71","icon":"light.svg","payload":"","payloadType":"str","topic":"","x":462.00000762939453,"y":662.0000095367432,"wires":[["5c960481.85683c"]]},{"id":"cb0a5402.685a98","type":"inject","z":"b8e8a23a.d7e0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.60000610351562,"y":263.00000190734863,"wires":[["5c960481.85683c"]]},{"id":"fdb03f78.30ec7","type":"ui_button","z":"b8e8a23a.d7e0c","name":"","group":"d131d5df.f5e068","order":10,"width":0,"height":0,"passthru":false,"label":"refresh","tooltip":"","color":"#FFFFFF","bgcolor":"#da1b71","icon":"","payload":"","payloadType":"str","topic":"","x":417.0000114440918,"y":709.0000095367432,"wires":[["5c960481.85683c"]]},{"id":"d131d5df.f5e068","type":"ui_group","z":"","name":"Predicted Power [now]","tab":"eaa243dc.f27c1","order":2,"disp":true,"width":"6","collapse":false},{"id":"d5fd1b78.72b368","type":"ui_group","z":"","name":"Default","tab":"eaa243dc.f27c1","order":1,"disp":false,"width":"20","collapse":false},{"id":"eaa243dc.f27c1","type":"ui_tab","z":"","name":"🎐 WIND ENERGY PREDICTOR 🎐","icon":"dashboard","disabled":false,"hidden":false}]